.all-order-card{
    border: 1px solid rgb(255, 0, 136);
    margin: 10px 0px;
    background-color: rgba(128, 128, 128, 0.068);
}
.all-bookings{
    margin-top: 50px;
    min-height: 60vh;
}
.all-bookings h3{
    font-weight: 700;
    margin-bottom: 30px;
}
.buttons{
    align-items: center;
    justify-content: center;
}
.tick-btn{
    color: rgb(50, 148, 50);
}
.cross-btn{
    color: rgb(221, 34, 34);
}