.teamCard{
    width: 80%;
    text-align: start;
    background-color: rgba(187, 181, 201, 0.596);

}
.about{
    margin-bottom: 100px;
}
.oneMember{
    border: 2px solid gray;
}
.oneMember h5{
    padding-left: 10px;
}
.oneMember small{
    margin-bottom: 10px;
    padding-left: 10px;
}
.about h1{
    margin-top: 20px;
    padding-bottom: 15px;
    font-weight: 700;

}
.about span{
    color: rgb(218, 9, 131);
}
.about .card-title{
    font-weight: 700;
}


